.Navigation {
    font-weight:bold;
    border:2px solid black;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    
}
.NavBar {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.Nav {
    display: flex;
    align-items: center;
}
.NavLink {
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    color: black;
}
.NavLink:hover {
    box-shadow: 0px 0px 10px 10px rgba(227,206, 46, 0.8);
    text-decoration: none;
    cursor:pointer;
    color: black
}
.Active {
    text-shadow: 0px 0px 13px rgba(227, 206, 46, 1);
    color:#f8312f;
    text-decoration: none; 
}
.Logo{color:#f8312f};