.Navigation {
    background-color: rgb(35,41,39);
    color:white;
    font-style:bold;
    border:1px solid black;
    
}
.NavBar {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.Nav {
    display: flex;
    align-items: center;
}
.NavLink {
    color:white;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
}
.NavLink:hover {
    color: white;
    text-decoration: none;
}
