.h1 {
    margin:50px 0px ;
    font-size: 30px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.Button {
    border:2px solid black;
    margin:15px;
    padding:10px;
    background-color:transparent;
    color:black;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.Button:hover {
text-shadow: 0px 0px 13px rgba(227, 206, 46, 1);
color: #f8312f;
cursor:pointer
}