.OnePost {
    border:1px solid black;
    margin:20px;
    padding:10px
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LeftSide {
    display:flex;
    align-items: center;
}
.RightSide {
    display:flex;
    align-items: center;
}

.Title {
    font-size:20px;
    margin: 30px 20px;
    color: black;
    text-decoration: none;
    
}

.Details {
    margin: 30px 20px;
}

.DetailsTitle{
    font-style: italic;
}

.DropDown{
    width:30px
}