.Profile {
    padding: 10px;
}
.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
}
.Middle {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}
.RightSide {
    display:flex;
    align-items: center;
    margin-left: auto;
}
.Image {
    margin-top:20px
}
.Details {
    margin: 30px 20px;
}

.DetailsTitle{
    font-style: italic;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.h3{
    margin-top:50px;
    font-size:25px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}