.Profile {
    padding: 10px;
}
.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Middle {
    display:flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.RightSide {
    display:flex;
    align-items: center;
    margin-left: auto;
}

.Details {
    margin: 30px 20px;
}

.DetailsTitle{
    font-style: italic;
}

.h3{
    margin-top:50px;
    font-size:25px
}