.App{
  width: 100%;
  margin-bottom: 10px
}
.Content{
  text-align: center;
  width:95%;
  border: 1px solid black;
  margin: 0px auto;
  padding: 10px 0px;
} 

@media screen and (min-width: 768px) {
  .App {
  width:70%;
  text-align: center;
  margin: 0px auto;
}
.Content {
  width:100%
}
}