.App{
  width: 100%;
}
.Content{
  text-align: center;
  background-color: rgb(227,215,192);
  width:95%;
  border: 1px solid black;
  margin: 0px auto;
} 

@media screen and (min-width: 768px) {
  .App {
  width:70%;
  text-align: center;
  margin: 0px auto;
}
.Content {
  width:100%
}
}